<table class="table-info" id="privkeyinfo">
    <tbody>
    <tr>
        <td>Key Type</td>
        <td>private</td>
    </tr>
    <tr>
        <td>Owner Name</td>
        <td class="name"></td>
    </tr>
    <tr>
        <td>Owner Email</td>
        <td class="email"></td>
    </tr>
    <tr>
        <td>Key Id</td>
        <td class="keyId"></td>
    </tr>
    <tr>
        <td>Fingerprint</td>
        <td class="fingerprint"></td>
    </tr>
    <tr>
        <td>Creatred</td>
        <td class="created"></td>
    </tr>
    <tr>
        <td>Expires</td>
        <td class="expires"></td>
    </tr>
    <tr>
        <td>Key Length</td>
        <td class="length"></td>
    </tr>
    <tr>
        <td>Algorithm</td>
        <td class="algorithm"></td>
    </tr>
    </tbody>
</table>
<textarea id="privateKeyUnarmored"></textarea>
<textarea id="publicKeyUnarmored"></textarea>