<h2>Oops, something went wrong.</h2>
<p>
    There was an internal error when trying to add the new key.
    Please contact your administrator for more information, or refresh the page
    to retry.
</p>
<p>
    <em><?= message ?></em>
</p>
