<h2>Success!</h2>
<p>
    The key was changed.
    You are good to go. Click on the button bellow or refresh the page to retry.
</p>
<div class="actions-wrapper center">
    <a class="button primary big" href="<?= domain ?>" role="button" target="_parent" rel="noopener noreferrer">
        Retry login
    </a>
</div>
