<h3>The server key has changed!</h3>
<p>
    For security reasons, please confirm with your IT administrator that this is
    a change they initiated.
</p>
<div class="input checkbox required">
    <input type="checkbox" id="js_server_key_change_confirm" value="legit"/>
    <label for="js_server_key_change_confirm">I have checked, all is fine.</label>
</div><br>
<div class="actions-wrapper center">
    <a id="js_server_key_change_submit" class="button primary big disabled" href="#" role="button">Accept new key</a>
</div>
