<div class="feedback">
    <i class="fa fa-meh-o huge" ></i>
    <p>The supplied account does not exist</p>
</div>
<div class="actions-wrapper center">
    <a class="button primary big" href="/register">register again</a><br><br>
    <a href="/recover">or recover an existing account</a>
</div>
