<div class="form-content user-add permission-add">
    <div class="input text autocomplete with-token">
        <label for="js_group_edit_form_auto_cplt">Add people</label>
        <input maxlength="255" id="js_group_edit_form_auto_cplt" placeholder="start typing a person name" autocomplete="off" type="text">
        <div class="security-token"></div>
    </div>
    <div class="input blank">
        <div id="js_group_edit_form_feedback" class="message"></div>
    </div>
</div>
