<div class="form-content">
    Your master password is wrong ! The operation has been aborted
</div>

<div class="submit-wrapper clearfix">
    <button id="master-password-close" class="button primary js-dialog-close">close</button>
</div>
