<div class="col6 push1 information">
    <h2>Welcome back!</h2>
    <div class="plugin-check-wrapper">
        <div class="plugin-check chrome success">
            <p class="message">
                Nice one! Chrome plugin is installed and configured. You are good to go!
            </p>
        </div>
    </div>
    <div class="plugin-check-wrapper">
        <div class="plugin-check gpg notice">
            <p class="message">
                Server identity check in progress...
                Checking key:
                <a href="auth/verify" target='_blank' id="serverkey_id">
                   <%= serverKeyId %>
                </a>
            </p>
        </div>
    </div>
</div>
<div class="col4 push1 last">
    <div class="logo">
        <h1><span>Passbolt</span></h1>
    </div>
    <div class="users login form">
        <div class="feedback">
            <i class="fa fa-cog fa-spin huge" ></i>
            <p>Checking server key<br> please wait...</p>
        </div>
    </div>
</div>
