<div class="col6 push1 information">
    <h2>This domain is not known!</h2>
    <div class="plugin-check-wrapper">
        <div class="plugin-check chrome warning">
            <p class="message">
                Chrome plugin is installed but is already configured for another domain :<br>
            	<a href="<%= trustedDomain %>" class="trusteddomain"><%= trustedDomain %></a><br>
            </p>
        </div>
    </div>
    <p>You can <a href="/register">register again</a> for this domain
        or <a href="/recover"> recover an existing account</a>,
        but you will lose your account on the existing domain. Proceed with caution.</p>
</div>
<div class="col4 push1 last">
    <div class="logo">
        <h1><a href="#"><span>Passbolt</span></a></h1>
    </div>
    <div class="users login form">
        <div class="feedback">
            <i class="fa huge fa-globe" ></i>
            <p>Chrome plugin is not configured to work with this domain</p>
        </div>
        <div class="actions-wrapper center">
            <% if(publicRegistration) { %>
                <a class="button primary big" href="/register">Register for this domain</a><br><br>
            <% } %>
            <a href="/recover">or recover an existing account</a>
        </div>
    </div>
</div>