<h3>What is this private key?</h3>
<p>
    The key you need here is the key that was generated (or that you imported) during your first setup.
    Remember, during the initial setup, there was a step where you were asked to make a backup.
    You need this file now.
</p>
<h3>What if I don't have it?</h3>
<p>
    If you don't have a backup of your key, you will not be able to recover your account.
<p>