<h3>What private key do I need?</h3>
<div class="message warning">
    <p>
        The private key is the key that was generated (or imported) during the initial setup.
        If it was generated, then you have to use the backup of your key here (remember the big warning after the generation?).
        If it was imported, you can use the same key.
    </p>
    <p>
        <strong>Please note:</strong> If you don't have a backup of your key,
        you will not be able to recover your account.
    </p>
</div>
