/*
	do not show javascript needed warning if js is enabled
	this needs modernizer to work
*/
.js .message.nojs {
	//display:none;
}
.message {
	padding:1em;
}
.message.error {
	background:@background-error;
}
.message.success {
	background:@background-success;
}
.message.notice {
	 background:@background-notice;
}
.message.warning {
	background:@background-warning;
}