
<div class="form-content">
    <div class="input-password-wrapper">
        <input type="hidden" id="js_field_secret_id" />
        <div class="input password required">
            <input maxlength="50" type="password" id="js_secret" placeholder="password" value=""/>
            <input maxlength="50" type="text" id="js_secret_clear" placeholder="password" class="hidden"/>
            <div class="security-token"></div>
        </div>
        <ul class="actions inline">
            <li>
                <a href="#" id="js_secret_view" class="button toggle">
                    <i class="icon eye big no-text"></i>
                    <span>view</span>
                </a>
            </li>
            <li>
                <a href="#" id="js_secret_generate" disabled="disabled" class="button disabled">
                    <i class="icon key big no-text"></i>
                    <span>generate</span>
                </a>
            </li>
        </ul>

        <div id="js_secret_strength" class="password-complexity">
        </div>

        <div id="js_field_password_feedback" class="message">
        </div>
    </div>
</div>
