<?
const hasFolders = this.options.hasFoldersPlugin && this.options.importFolders;
const hasTags = this.options.hasTagsPlugin && this.options.importTags;
const resourcesHasErrors = this.resources && this.resources.errors && this.resources.errors.length > 0;
const foldersHasErrors = hasFolders && this.folders && this.folders.errors && this.folders.errors.length > 0;
const hasErrors = resourcesHasErrors || foldersHasErrors;
?>
<div class="dialog-wrapper">
    <div class="dialog report">
        <div class="dialog-header">
            <? if (!hasErrors) { ?>
            <h2>Success!</h2>
            <? } else { ?>
            <h2>Something went wrong!</h2>
            <? } ?>
            <a class="dialog-close" role="button">
                <i class="fa fa-close"></i><span class="visuallyhidden">close</span>
            </a>

        </div>
        <div class="js_dialog_content dialog-content">

            <form class="tab-content ready selected" id="js_rs_import_report">
                <div class="form-content">
                    <? if (!resourcesHasErrors) { ?>
                    <p><strong><?= this.resources && this.resources.created ? this.resources.created.length : 'No'  ?> passwords have been imported successfully.</strong></p>
                    <? } else { ?>
                    <p class="error inline-error">There was an issue while importing passwords:</p>
                    <p>
                        <strong><?= this.resources.created.length ?> out of <?= (this.resources.created.length + this.resources.errors.length) ?></strong> passwords have been imported.
                    </p>
                    <? } ?>
                    <? if(hasFolders) { ?>
                        <? if (!foldersHasErrors) { ?>
                        <p><strong><?= this.folders && this.folders.created ? this.folders.created.length : 'No' ?> folders have been imported successfully.</strong></p>
                        <p>You can find the newly imported passwords under the top folder: '<?= this.importTag ?>'.</p>
                        <? } else { ?>
                        <p class="error inline-error">There was an issue while importing folders:</p>
                        <p>
                            <strong><?= this.folders.created.length ?> out of <?= (this.folders.created.length + this.folders.errors.length) ?></strong> folders have been imported.
                        </p>
                        <? } ?>
                    <? } ?>
                    <? if (hasErrors) { ?>
                    <div class="accordion error-details closed">
                        <div class="accordion-header">
                            <a role="link">Errors details</a>
                        </div>
                        <div class="accordion-content hidden" style="display: none;">
                            <div class="input text">
                                <label for="js_field_debug" class="visuallyhidden">Errors details</label>
                                <textarea id="js_field_debug"><?= JSON.stringify(this.resources.errors, null, 4); ?><? if(this.hasFoldersPlugin && this.foldersImport) { JSON.stringify(this.folders.errors, null, 4); } ?></textarea>
                            </div>
                        </div>
                    </div>
                    <? } ?>
                </div>
                <div class="submit-wrapper clearfix">
                    <input class="button primary" value="Ok" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>