<li>
    <div class="row">
        <div class="main-cell-wrapper">
            <div class="main-cell" style="font-size:16px;">
                No user found
            </div>
        </div>
    </div>
</li>
