<div class="more_details tooltip-alt">
    <i class="fa fa-info-circle"></i>
    <div class="tooltip-text right">
        <?= resources.map(resource => resource.name).join(', '); ?>
    </div>
</div>
