<div class="input text autocomplete">
    <label for="js-search-aros-input">Share with people or groups</label>
    <input maxlength="255" id="js-search-aros-input" placeholder="enter one name or email" autocomplete="off" type="text">
    <div class="security-token"></div>
</div>
<div id="js-search-aro-autocomplete" class="autocomplete-wrapper hidden">
    <div class="autocomplete-content scroll"></div>
</div>
