<div class="dialog-wrapper">
    <div class="dialog share-password-dialog">
        <div class="dialog-header">
<? if (bulk) { ?>
            <h2>Share <?= resources.length ?> passwords <div class="more_details tooltip-alt">
                <i class="fa fa-info-circle"></i>
                <div class="tooltip-text right">
                    <?= resources.map(resource => resource.name).join(', '); ?>
                </div>
            </div></h2>
<? } else { ?>
            <h2>Share<span class="dialog-header-subtitle"><?= resources[0].name ?></span></h2>
<? } ?>
            <a class="dialog-close js-dialog-close">
                <i class="fa fa-close"></i>
                <span class="visuallyhidden">close</span>
            </a>
        </div>
        <div class="js-dialog-content dialog-content">

<? if (!bulk) { ?>
            <ul class="tabs-nav menu">
                <li id="js-share-go-to-edit">
                    <div class="row">
                        <div class="main-cell-wrapper">
                            <div class="main-cell">
                                <a><span>Edit</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="js-share-go-to-share" class="">
                    <div class="row">
                        <div class="main-cell-wrapper">
                            <div class="main-cell">
                                <a class="selected"><span>Share</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="tab">
                <div class="tab-content" style="display:block">
<? } ?>

                    <div id="js-share-edit-list" class="form-content permission-edit">
                        <ul class="permissions scroll"></ul>
                    </div>

                    <div id="js-share-feedbacks" class="feedbacks message hidden"></div>

<? if (isOwner) { ?>
                    <div class="form-content permission-add">
                        <div class="input text autocomplete">
                            <label for="js-search-aros-input">Share with people or groups</label>
                            <input maxlength="255" id="js-search-aros-input" placeholder="enter one name or email" autocomplete="off" type="text">
                            <div class="security-token"></div>
                        </div>
                        <div id="js-search-aro-autocomplete" class="autocomplete-wrapper hidden">
                            <div class="autocomplete-content scroll"></div>
                        </div>
                    </div>
<? } ?>

                    <div class="submit-wrapper clearfix">
                        <input id="js-share-save" type="submit" class="button disabled primary" value="save" disabled="disabled"/>
                        <a id="js-share-cancel" class="cancel">cancel</a>
                    </div>
                </div>

<? if (!bulk) { ?>
            </div>
        </div>
<? } ?>

    </div>
</div>
