<li id="<?= id ?>">
    <div class="row">
        <div class="main-cell-wrapper">
            <div class="main-cell">
                <a>
                    <div class="avatar">
                        <img src="<?= thumbnail_url ?>"/>
                    </div>
                    <div class="<?= cssClass ?>">
                        <span class="name"><?= label ?></span>
                        <span class="details" title="<?= secondaryLabel ?>"><?= secondaryLabel ?></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>
