<!-- left collumn -->
<div class="col7">
    <h3>An error occured</h3>
    <div class="message error clearfix">
        <p><strong>
            <i class="fa fa-times-circle"></i> Error!</strong>
            Something unexpected happened. The setup cannot be completed.</p>
        <h4>What to do now ?</h4>
        <p>Please contact us or your system administrator, and provide the debug information below.</p>
        <p><a id="show-debug-info"><i class="fa fa-toggle-down"></i> See debug info</a></p>
        <p><textarea class="col11 hidden" id="debug-info"><? var jsonString = JSON.stringify(setupData, null, 2); ?><?= jsonString ?></textarea></p>
        </p>
    </div>
    <p>
</div>

<!-- right collumn -->
<div class="col4 last">

</div>
