<!-- left collumn -->
<div class="col7">
    <h3>Set your passphrase</h3>
    <p>This is the only passphrase you will need to remember from now on, so make sure you choose it wisely! </p>

    <div class="input-password-wrapper">
        <div class="input password required">
            <label for="js_field_password" class="hidden">New passphrase</label>
            <input name="passbolt.model.User.password" type="password" id="js_field_password" placeholder="enter your passphrase here">
            <input class="required hidden" type="text" id="js_field_password_clear">
        </div>
        <ul class="actions inline">
            <li>
                <a id="js_show_pwd_button" class="button toggle mad_controller_component_button_controller mad_view_view js_component ready
                    tooltip-right always-show large" data-tooltip="click here to view in clear text">
                    <i class="fa fa-eye fa-lg"></i>
                    <span class="visuallyhidden">view</span>
                </a>
            </li>
        </ul>
        <div id="js_user_pwd_strength" class="password-complexity">
        </div>
    </div>

    <div class="password-hints">
        <p>Some tips for choosing a strong passphrase:</p>
        <ul id="js_password_match_criterias">
        </ul>
    </div>
</div>

<!-- right collumn -->
<div class="col4 last">

</div>