<div class="col7">
    <div class="plugin-check-wrapper">
        <h3>Plugin check</h3>
        <div class="plugin-check firefox success">
            <p class="message">Nice one! Firefox plugin is installed and up to date. You are good to go!</p>
        </div>
    </div>
    <div class="why-plugin-wrapper">
        <h3>Url Check</h3>
        <p>
            You are about to register the plugin to work with the following domain. Please confirm that this is a domain managed by an organisation you trust:
        </p>
        <form>
            <div class="input text disabled">
                <input type="text" value="<%= domain %>" id="js_setup_domain" disabled="disabled" />
            </div>
            <div class="input checkbox">
                <input type="checkbox" id="js_setup_domain_check" value="legit"/>
                <label for="js_setup_domain_check">I've checked and this domain is legit</label>
            </div>
        </form>
    </div>
</div>
<div class="col5 last">
    <!--<div class="video-wrapper">-->
        <!--<iframe width="400" height="300" src="https://www.youtube.com/embed/u-vDLf7cmf0" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
</div>

