<form method="post" action="<%= login_url %>">
    <input type="hidden" name="data[User][username]" value="<%= username %>">
    <input type="hidden" name="data[User][password]" value="<%= password %>">
</form>