<!-- left collumn -->
<div class="col7">
    <h3>This is your password to login in the application itself</h3>
    <p>Cheer up. The good news is you can now use your freshly configured plugin to generate and store it! That's right you do not need to remember it.</p>
    <div class="first-password-wrapper">
        <div class="input text required">
            <label for="PasswordName">Name</label>
            <input id="PasswordName" type="text" class="fluid" value="<%= firstName %> <%= lastName %>" required="required" disabled="disabled"/>
        </div>
        <div class="input text required">
            <label for="PasswordURL">URL</label>
            <input id="PasswordURL" type="text" class="fluid" value="<%= domain %>" required="required" disabled="disabled"/>
        </div>
        <div class="input text required">
            <label for="PasswordUsername">Username</label>
            <input id="PasswordUsername" type="text" class="fluid" value="<%= username %>" required="required" disabled="disabled"/>
        </div>

        <div class="input-password-wrapper">
            <div class="input password required">
                <label for="js_setup_password" class="hidden">New master password</label>
                <input name="passbolt.model.User.password" type="password" id="js_setup_password" placeholder="enter your password here">
                <input class="required hidden" maxlength="50" type="text" id="js_setup_password_clear">
            </div>
            <ul class="actions inline">
                <li>
                    <a href="#" id="js_show_pwd_button" class="button toggle mad_controller_component_button_controller mad_view_view js_component ready">
                        <i class="icon eye big no-text"></i>
                        <span>view</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="js_gen_pwd_button" class="button mad_controller_component_button_controller mad_view_view js_component ready">
                        <i class="icon key big no-text"></i>
                        <span>generate</span>
                    </a>
                </li>
            </ul>
            <div id="js_user_pwd_strength" class="password-complexity">
            </div>
        </div>
    </div>
</div>

<!-- right collumn -->
<div class="col4 last">

</div>

<div id="SetupAutoLogin">

</div>