<!-- left collumn -->
<div class="col7">
    <h3>Please wait... you are being redirected to the login page</h3>
    <p>Everything is in order, you can now sign in in passbolt.</p>
</div>

<!-- right collumn -->
<div class="col4 last">

</div>
