<div>
    <label>First name</label>
    <input type="text" value="<%= firstName %>" disabled />
</div>
<div>
    <label>Last name</label>
    <input type="text" value="<%= lastName %>" disabled />
</div>
<div>
    <label>Url</label>
    <input type="text" value="<%= domain %>" disabled />
</div>
<div>
    <label>Username</label>
    <input type="text" value="<%= username %>" disabled />
</div>
<div>
    <label>Password</label>
    <input id="js_setup_password" type="password" />
</div>
