<!-- left collumn -->
<div class="col7">
    <h3>Set a security token</h3>
    <p>Please choose a color and three letters (or remember the combination we conveniently generated for you).</p>

    <div class="colorpicker">
        <div class="input color">
            <input type="text" id="js_security_token_text" class="token" name="text"  maxlength="3"/>
            <div id="js_field_name_feedback" class="message error hidden"><!-- Error message --></div>
            <input type="hidden" id="js_security_token_background" name="background"  />
            <input type="hidden" id="js_security_token_color" name="color" />
        </div>
        <div id="js_colorpicker"></div>
    </div>

</div>

<!-- right collumn -->
<div class="col4 last">
    <h3>Wait, why do I need this?</h3>
    <p>
        This token is used to prevent malicious web pages to trick you by mimicking passbolt dialogs in order to to steal your data (aka. protect you from phishing attacks).
    </p>
    <p>
        This visual cue will be shown whenever we ask you for your master password and other sensitive places to help make sure you are dealing with an authentic passbolt dialog and not a fake one!
    </p>
</div>
