<style>
label.error {
    color:#770000;
}
</style>

<div class="dialog-wrapper">
    <div class="dialog master-password">
        <div class="dialog-header">
            <h2>Please enter your master password</h2>
            <a href="#" class="dialog-close js-dialog-close">
                <i class="icon close no-text"></i>
                <span>close</span>
            </a>
        </div>
        <div class="js_dialog_content dialog-content">

            <div class="form-content">

                <div class="input text required">
                    <label for="js_master_password">You need your master password to continue.</label>
                    <input maxlength="50" type="password" id="js_master_password" placeholder="password"/>
                    <span class="security-token">CKR</span>
                </div>

                <div class="input checkbox">
                    <input type="checkbox" id="js_remember_master_password"/>
                    <label for="js_remember_master_password">Remember it for 5 minutes</label>
                </div>
            </div>

            <div class="submit-wrapper clearfix">
                <input id="master-password-submit" class="button primary" value="OK" type="submit">
                <a href="#" class="js-dialog-close cancel">cancel</a>
            </div>
        </div>
    </div>
</div>
