<div class="form-content">
    <input maxlength="50" type="password" id="js_master_password" placeholder="password"/>
</div>

<div class="submit-wrapper clearfix">
    <input id="master-password-submit" class="button primary" value="Run run you're free" type="submit">
</div>
