<!-- left column -->
<div class="col6 import-key-wrapper">
    <h3>Copy paste your private key below</h3>
    <div class="input textarea gpgkey">
        <textarea name="data[Key][ascii]" class="fluid code" id="js_setup_import_key_text"></textarea>
    </div>
    <div class="message error hidden" id="KeyErrorMessage"></div>
    <div class="input file">
        <div class="input-wrapper">
            <div class="input-wrapper-2">
                <input name="data[Key][file]" value="Browse..." id="js_setup_import_key_browse" type="submit">
                <span class="help-text">Or select a file from your computer</span>
            </div>
        </div>
    </div>
</div>
<div class="col4 last sideInfo"></div>

