<!-- left collumn -->
<div class="col7">
    <h3>Setup is complete</h3>
    <div class="message success">
        <strong>
            <i class="fa fa-check-circle"></i>
            Success!
        </strong>
        You have successfully completed setup, thank you!
        You will soon be redirected to the login page.
    </div>
    <div class="input-wrapper">
        <a id="js_spinner" class="button primary next big processing">login!</a>
        <a>Click here if you can't wait</a>.
    </div>
    <p>
    </p>
</div>

<!-- right collumn -->
<div class="col4 last">

</div>
