<div id="js_plugin_progress_dialog" class="dialog-wrapper progress-dialog">
    <div class="dialog">
        <div class="dialog-header">
            <h2>Ecnrypting ...</h2>
            <a href="#" class="dialog-close js-dialog-close">
                <i class="icon close no-text"></i>
                <span>close</span>
            </a>
        </div>
        <div class="js_dialog_content dialog-content">
            <!-- Form content class to have the white background -->
            <div class="form-content">
                <label>Take a deep breath and enjoy being in the present moment...</label>
                <div class="progress-bar-wrapper">
                    <div id="js_progress_bar_container" class="progress-bar big">
                        <span id="js_progress_bar" class="progress"></span>
                    </div>
                </div>
                <div class="progress-details">
                    <span id="js_progress_step_label" class="progress-step-label">&nbsp;</span>
                    <span class="progress-percent"><span id="js_progress_percent"></span>%</span>
                </div>
            </div>
            <div class="submit-wrapper clearfix">
                <a id="progress-waiting" class="button primary processing">Close</a>
            </div>
        </div>
    </div>
</div>
