<?
if (Object.keys(criterias).length == 0) {
?>
<li>It is at least 8 char in length </li>
<li>It contains lower and uppercase character</li>
<li>It contains letters and numbers</li>
<li>It contains special characters (like / or * or %)</li>
<li>It is not part of a dictionary</li>
<? } else { ?>
<li class="<?= criterias.minLength ? 'success' : 'error' ?>">It is at least 8 char in length</li>
<li class="<?= criterias.alpha && criterias.uppercase ? 'success' : 'error' ?>">It contains lower and uppercase character</li>
<li class="<?= (criterias.alpha || criterias.uppercase) && criterias.digit ? 'success' : 'error' ?>">It contains letters and numbers</li>
<li class="<?= criterias.special ? 'success' : 'error' ?>">It contains special characters (like / or * or %)</li>
<? if (typeof criterias.dictionary !== 'undefined') { ?>
<li class="<?= criterias.dictionary ? 'success' : 'error' ?>">It is not part of a dictionary</li>
<? } else { ?>
<li>It is not part of a dictionary (checking, please wait...)</li>
<? } ?>
<? } ?>
