<div class="form-content permission-add">
    <div class="input text autocomplete">
        <label for="js_perm_create_form_aro_auto_cplt">Share with people</label>
        <input maxlength="50" id="js_perm_create_form_aro_auto_cplt" placeholder="start typing a person name" autocomplete="off" type="text">
        <div class="security-token"></div>
    </div>
    <div class="input blank">
        <div id="js_perm_create_form_feedback" class="message"></div>
    </div>
</div>
