<div class="form-content permission-add">
    <div class="input text autocomplete">
        <label for="js_perm_create_form_aro_auto_cplt">Share with people or groups</label>
        <input maxlength="255" id="js_perm_create_form_aro_auto_cplt" placeholder="enter one name or email" autocomplete="off" type="text">
        <div class="security-token"></div>
    </div>
    <div class="input blank">
        <div id="js_perm_create_form_feedback" class="message"></div>
    </div>
</div>
